Watchlist-Add-OnPremADPrivUsersToWatchList.json
{
    "$schema":  "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
    "contentVersion":  "1.0.0.0",
    "metadata":  {
        "title":  "",
        "description":  "",
        "prerequisites":  "",
        "postDeployment":  [
        ],
        "prerequisitesDeployTemplateFile":  "",
        "lastUpdateTime":  "",
        "entities":  [
        ],
        "tags":  [
        ],
        "support":  {
            "tier":  "community",
            "armtemplate":  "Generated from https://github.com/Azure/Azure-Sentinel/tree/master/Tools/Playbook-ARM-Template-Generator"
        },
        "author":  {
            "name":  ""
        }
    },
    "parameters":  {
        "PlaybookName":  {
            "defaultValue":  "Watchlist-Add-OnPremADPrivUsersToWatchList",
            "type":  "string"
        },
        "Automation Account Name":  {
            "type":  "string",
            "metadata":  {
                "description":  "Enter value for Automation Account Name"
            }
        },
        "Log Analytics Workspace ID":  {
            "type":  "string",
            "metadata":  {
                "description":  "Enter value for Log Analytics Workspace ID"
            }
        },
        "Resource Group for Automation":  {
            "type":  "string",
            "metadata":  {
                "description":  "Enter value for Resource Group for Automation"
            }
        },
        "Resource Group for Log Analytics WS":  {
            "type":  "string",
            "metadata":  {
                "description":  "Enter value for Resource Group for Log Analytics WS"
            }
        },
        "Runbook Name":  {
            "type":  "string",
            "metadata":  {
                "description":  "Enter value for Runbook Name"
            }
        },
        "Subscription ID":  {
            "type":  "string",
            "metadata":  {
                "description":  "Enter value for Subscription ID"
            }
        },
        "Watchlist Alias":  {
            "type":  "string",
            "metadata":  {
                "description":  "Enter value for Watchlist Alias"
            }
        },
        "Worker Group Name":  {
            "type":  "string",
            "metadata":  {
                "description":  "Enter value for Worker Group Name"
            }
        }
    },
    "variables":  {
        "AzureautomationConnectionName":  "[concat('Azureautomation-', parameters('PlaybookName'))]",
        "MicrosoftSentinelConnectionName":  "[concat('MicrosoftSentinel-', parameters('PlaybookName'))]"
    },
    "resources":  [
        {
            "properties":  {
                "provisioningState":  "Succeeded",
                "state":  "Enabled",
                "definition":  {
                    "$schema":  "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
                    "contentVersion":  "1.0.0.0",
                    "parameters":  {
                        "$connections":  {
                            "defaultValue":  {
                            },
                            "type":  "Object"
                        },
                        "Automation Account Name":  {
                            "defaultValue":  "[parameters('Automation Account Name')]",
                            "type":  "string"
                        },
                        "Log Analytics Workspace ID":  {
                            "defaultValue":  "[parameters('Log Analytics Workspace ID')]",
                            "type":  "string"
                        },
                        "Resource Group for Automation":  {
                            "defaultValue":  "[parameters('Resource Group for Automation')]",
                            "type":  "string"
                        },
                        "Resource Group for Log Analytics WS":  {
                            "defaultValue":  "[parameters('Resource Group for Log Analytics WS')]",
                            "type":  "string"
                        },
                        "Runbook Name":  {
                            "defaultValue":  "[parameters('Runbook Name')]",
                            "type":  "string"
                        },
                        "Subscription ID":  {
                            "defaultValue":  "[parameters('Subscription ID')]",
                            "type":  "string"
                        },
                        "Watchlist Alias":  {
                            "defaultValue":  "[parameters('Watchlist Alias')]",
                            "type":  "string"
                        },
                        "Worker Group Name":  {
                            "defaultValue":  "[parameters('Worker Group Name')]",
                            "type":  "string"
                        }
                    },
                    "triggers":  {
                        "Recurrence":  {
                            "recurrence":  {
                                "frequency":  "Day",
                                "interval":  1
                            },
                            "evaluatedRecurrence":  {
                                "frequency":  "Day",
                                "interval":  1
                            },
                            "type":  "Recurrence"
                        }
                    },
                    "actions":  {
                        "Condition-Check_if_Watchlist_created_already":  {
                            "actions":  {
                                "For_each":  {
                                    "foreach":  "@body('Parse_JSON')",
                                    "actions":  {
                                        "Append_to_array_variable":  {
                                            "runAfter":  {
                                            },
                                            "type":  "AppendToArrayVariable",
                                            "inputs":  {
                                                "name":  "accounts",
                                                "value":  {
                                                    "OnpremADcn":  "@{items('For_each')['cn']}",
                                                    "OnpremADsid":  "@{items('For_each')?['sid']?['Value']}"
                                                }
                                            }
                                        },
                                        "Create_CSV_table":  {
                                            "runAfter":  {
                                                "Append_to_array_variable":  [
                                                    "Succeeded"
                                                ]
                                            },
                                            "type":  "Table",
                                            "inputs":  {
                                                "format":  "CSV",
                                                "from":  "@variables('accounts')"
                                            }
                                        },
                                        "Watchlists_-_Create_a_new_watchlist_with_data_(Raw_Content)":  {
                                            "runAfter":  {
                                                "Create_CSV_table":  [
                                                    "Succeeded"
                                                ]
                                            },
                                            "type":  "ApiConnection",
                                            "inputs":  {
                                                "body":  {
                                                    "description":  "users to watch",
                                                    "displayName":  "OnPremPrivUsers",
                                                    "itemsSearchKey":  "OnpremADsid",
                                                    "rawContent":  "@{body('Create_CSV_table')}",
                                                    "source":  "Local"
                                                },
                                                "host":  {
                                                    "connection":  {
                                                        "name":  "@parameters('$connections')['azuresentinel']['connectionId']"
                                                    }
                                                },
                                                "method":  "put",
                                                "path":  "/Watchlists/subscriptions/@{encodeURIComponent(parameters('Subscription ID'))}/resourceGroups/@{encodeURIComponent(parameters('Resource Group for Log Analytics WS'))}/workspaces/@{encodeURIComponent(parameters('Log Analytics Workspace ID'))}/watchlists/@{encodeURIComponent(parameters('Watchlist Alias'))}"
                                            }
                                        }
                                    },
                                    "runAfter":  {
                                        "Watchlists_-_Delete_a_watchlist":  [
                                            "Succeeded"
                                        ]
                                    },
                                    "type":  "Foreach"
                                },
                                "Watchlists_-_Delete_a_watchlist":  {
                                    "runAfter":  {
                                    },
                                    "type":  "ApiConnection",
                                    "inputs":  {
                                        "host":  {
                                            "connection":  {
                                                "name":  "@parameters('$connections')['azuresentinel']['connectionId']"
                                            }
                                        },
                                        "method":  "delete",
                                        "path":  "/Watchlists/subscriptions/@{encodeURIComponent(parameters('Subscription ID'))}/resourceGroups/@{encodeURIComponent(parameters('Resource Group for Log Analytics WS'))}/workspaces/@{encodeURIComponent(parameters('Log Analytics Workspace ID'))}/watchlists/@{encodeURIComponent(parameters('Watchlist Alias'))}"
                                    }
                                }
                            },
                            "runAfter":  {
                                "Watchlists_-_Get_a_watchlist_by_alias":  [
                                    "Succeeded",
                                    "Failed"
                                ]
                            },
                            "else":  {
                                "actions":  {
                                    "For_each_2":  {
                                        "foreach":  "@body('Parse_JSON')",
                                        "actions":  {
                                            "Append_to_array_variable_2":  {
                                                "runAfter":  {
                                                },
                                                "type":  "AppendToArrayVariable",
                                                "inputs":  {
                                                    "name":  "accounts",
                                                    "value":  {
                                                        "OnpremADcn":  "@{items('For_each_2')['cn']}",
                                                        "OnpremADsid":  "@{items('For_each_2')?['sid']?['Value']}"
                                                    }
                                                }
                                            },
                                            "Create_CSV_table_2":  {
                                                "runAfter":  {
                                                    "Append_to_array_variable_2":  [
                                                        "Succeeded"
                                                    ]
                                                },
                                                "type":  "Table",
                                                "inputs":  {
                                                    "format":  "CSV",
                                                    "from":  "@variables('accounts')"
                                                }
                                            },
                                            "Watchlists_-_Create_a_new_watchlist_with_data_(Raw_Content)_2":  {
                                                "runAfter":  {
                                                    "Create_CSV_table_2":  [
                                                        "Succeeded"
                                                    ]
                                                },
                                                "type":  "ApiConnection",
                                                "inputs":  {
                                                    "body":  {
                                                        "description":  "users to watch",
                                                        "displayName":  "OnPremPrivUsers",
                                                        "itemsSearchKey":  "OnpremADsid",
                                                        "rawContent":  "@{body('Create_CSV_table_2')}",
                                                        "source":  "Local"
                                                    },
                                                    "host":  {
                                                        "connection":  {
                                                            "name":  "@parameters('$connections')['azuresentinel']['connectionId']"
                                                        }
                                                    },
                                                    "method":  "put",
                                                    "path":  "/Watchlists/subscriptions/@{encodeURIComponent(parameters('Subscription ID'))}/resourceGroups/@{encodeURIComponent(parameters('Resource Group for Log Analytics WS'))}/workspaces/@{encodeURIComponent(parameters('Log Analytics Workspace ID'))}/watchlists/@{encodeURIComponent(parameters('Watchlist Alias'))}"
                                                }
                                            }
                                        },
                                        "runAfter":  {
                                        },
                                        "type":  "Foreach"
                                    }
                                }
                            },
                            "expression":  {
                                "and":  [
                                    {
                                        "equals":  [
                                            "@outputs('Watchlists_-_Get_a_watchlist_by_alias')?['StatusCode']",
                                            200
                                        ]
                                    }
                                ]
                            },
                            "type":  "If"
                        },
                        "Create_job":  {
                            "runAfter":  {
                            },
                            "type":  "ApiConnection",
                            "inputs":  {
                                "body":  {
                                    "properties":  {
                                        "parameters":  {
                                            "SAMAccountName":  "null"
                                        },
                                        "runOn":  "@parameters('Worker Group Name')"
                                    }
                                },
                                "host":  {
                                    "connection":  {
                                        "name":  "@parameters('$connections')['azureautomation']['connectionId']"
                                    }
                                },
                                "method":  "put",
                                "path":  "/subscriptions/@{encodeURIComponent(parameters('Subscription ID'))}/resourceGroups/@{encodeURIComponent(parameters('Resource Group for Automation'))}/providers/Microsoft.Automation/automationAccounts/@{encodeURIComponent(parameters('Automation Account Name'))}/jobs",
                                "queries":  {
                                    "runbookName":  "@parameters('Runbook Name')",
                                    "wait":  true,
                                    "x-ms-api-version":  "2015-10-31"
                                }
                            }
                        },
                        "Get_job_output":  {
                            "runAfter":  {
                                "Create_job":  [
                                    "Succeeded"
                                ]
                            },
                            "type":  "ApiConnection",
                            "inputs":  {
                                "host":  {
                                    "connection":  {
                                        "name":  "@parameters('$connections')['azureautomation']['connectionId']"
                                    }
                                },
                                "method":  "get",
                                "path":  "/subscriptions/@{encodeURIComponent(parameters('Subscription ID'))}/resourceGroups/@{encodeURIComponent(parameters('Resource Group for Automation'))}/providers/Microsoft.Automation/automationAccounts/@{encodeURIComponent(parameters('Automation Account Name'))}/jobs/@{encodeURIComponent(body('Create_job')?['properties']?['jobId'])}/output",
                                "queries":  {
                                    "x-ms-api-version":  "2015-10-31"
                                }
                            }
                        },
                        "Initialize_variable":  {
                            "runAfter":  {
                                "Get_job_output":  [
                                    "Succeeded"
                                ]
                            },
                            "type":  "InitializeVariable",
                            "inputs":  {
                                "variables":  [
                                    {
                                        "name":  "accounts",
                                        "type":  "array"
                                    }
                                ]
                            }
                        },
                        "Parse_JSON":  {
                            "runAfter":  {
                                "Initialize_variable":  [
                                    "Succeeded"
                                ]
                            },
                            "type":  "ParseJson",
                            "inputs":  {
                                "content":  "@body('Get_job_output')",
                                "schema":  {
                                    "items":  {
                                        "properties":  {
                                            "cn":  {
                                                "type":  "string"
                                            },
                                            "sid":  {
                                                "properties":  {
                                                    "AccountDomainSid":  {
                                                        "type":  "string"
                                                    },
                                                    "BinaryLength":  {
                                                        "type":  "integer"
                                                    },
                                                    "Value":  {
                                                        "type":  "string"
                                                    }
                                                },
                                                "type":  "object"
                                            }
                                        },
                                        "required":  [
                                            "sid",
                                            "cn"
                                        ],
                                        "type":  "object"
                                    },
                                    "type":  "array"
                                }
                            }
                        },
                        "Watchlists_-_Get_a_watchlist_by_alias":  {
                            "runAfter":  {
                                "Parse_JSON":  [
                                    "Succeeded"
                                ]
                            },
                            "type":  "ApiConnection",
                            "inputs":  {
                                "host":  {
                                    "connection":  {
                                        "name":  "@parameters('$connections')['azuresentinel']['connectionId']"
                                    }
                                },
                                "method":  "get",
                                "path":  "/Watchlists/subscriptions/@{encodeURIComponent(parameters('Subscription ID'))}/resourceGroups/@{encodeURIComponent(parameters('Resource Group for Log Analytics WS'))}/workspaces/@{encodeURIComponent(parameters('Log Analytics Workspace ID'))}/watchlists/@{encodeURIComponent(parameters('Watchlist Alias'))}"
                            }
                        }
                    },
                    "outputs":  {
                    }
                },
                "parameters":  {
                    "$connections":  {
                        "value":  {
                            "azureautomation":  {
                                "connectionId":  "[resourceId('Microsoft.Web/connections', variables('AzureautomationConnectionName'))]",
                                "connectionName":  "[variables('AzureautomationConnectionName')]",
                                "id":  "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/Azureautomation')]"
                            },
                            "azuresentinel":  {
                                "connectionId":  "[resourceId('Microsoft.Web/connections', variables('MicrosoftSentinelConnectionName'))]",
                                "connectionName":  "[variables('MicrosoftSentinelConnectionName')]",
                                "id":  "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/Azuresentinel')]",
                                "connectionProperties":  {
                                    "authentication":  {
                                        "type":  "ManagedServiceIdentity"
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "name":  "[parameters('PlaybookName')]",
            "type":  "Microsoft.Logic/workflows",
            "location":  "[resourceGroup().location]",
            "tags":  {
                "hidden-SentinelTemplateName":  "Watchlist-Add-OnPremADPrivUsersToWatchList",
                "hidden-SentinelTemplateVersion":  "1.0"
            },
            "identity":  {
                "type":  "SystemAssigned"
            },
            "apiVersion":  "2017-07-01",
            "dependsOn":  [
                "[resourceId('Microsoft.Web/connections', variables('AzureautomationConnectionName'))]",
                "[resourceId('Microsoft.Web/connections', variables('MicrosoftSentinelConnectionName'))]"
            ]
        },
        {
            "type":  "Microsoft.Web/connections",
            "apiVersion":  "2016-06-01",
            "name":  "[variables('AzureautomationConnectionName')]",
            "location":  "[resourceGroup().location]",
            "kind":  "V1",
            "properties":  {
                "displayName":  "[variables('AzureautomationConnectionName')]",
                "customParameterValues":  {
                },
                "api":  {
                    "id":  "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/Azureautomation')]"
                }
            }
        },
        {
            "type":  "Microsoft.Web/connections",
            "apiVersion":  "2016-06-01",
            "name":  "[variables('MicrosoftSentinelConnectionName')]",
            "location":  "[resourceGroup().location]",
            "kind":  "V1",
            "properties":  {
                "displayName":  "[variables('MicrosoftSentinelConnectionName')]",
                "customParameterValues":  {
                },
                "parameterValueType":  "Alternative",
                "api":  {
                    "id":  "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/Azuresentinel')]"
                }
            }
        }
    ]
}
